{%extends 'main/base.html' %}
{%block content%}
<div class="common_news_title">
	Проблемы
</div>
<div class="profile-group-btn" style="margin-top: 20px;">
	<a href="{%url 'profile' request.user.id %}"><button class="profile_btn ">Общее</button></a>
	<button class="profile_btn">Привязка устройств</button>
	<button class="profile_btn">Награды</button>
	{%if role == 'Municipal' %}
	<a href="{%url 'create_common_post' %}"><button class="profile_btn ">Публикация</button></a>
	<a href="{%url 'check_reports' %}"><button class="profile_btn selected">Обращения</button></a>
	<a href="{%url 'events' %}"><button class="profile_btn">Cобытия</button></a> 
	{%endif%}
</div>
<div class="container report_base_container">
	{%if role  == 'Municipal' and request.user.is_proved == False%}
		ждите пока вашу оргу подтвердят
	{%elif role  == 'Municipal' and request.user.is_proved == True%}
	<div class="reports_base_title">База обращений</div>
	{%for report in reports%}
	<div class="report_base_card">
		<div class="report_base_text">
		<div class="report_base_type">{{report.type_of_problem}}</div> 
		<div class="report_base_tit">{{report.title}}</div>
		</div>
		<a href="{%url 'citizen_report_detail' report.id%}" class="report_base_btn" ><button class="report_base_btn">Перейти</button></a>
		
	</div>
	
	<br>
	{%endfor%}
	 
	{%endif%}

</div>
{%endblock%}